* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @media only screen and (max-width: 600px)  {

html {
    line-height: 1.3;
    overflow-y: scroll;
    background-color:#181818;
}

body {                      
    font-family: 'Montserrat', sans-serif;          /* STAVITI OPACITY NA PARAGRAFE */
    font-weight: 300;
    font-size: 16px;
    text-shadow: 4px 4px 4px black;
    background-color: #181818;
    color: #fff;
    overflow: hidden;
}   

a {
    text-decoration: none;
    color: #fff;
}

li {
    opacity: .9;
}

button:hover {
    cursor: pointer;
}

/* OBJECTS */

.o-section {
    height: 100vh;
    position: relative;
    border: 1px solid salmon;
}

.o-section__title {
    text-align: center;
    text-transform: uppercase;
}

.o-section__title--toned {
    color: #D3C1A6
}

.o-section__title--pale {
    color: #fff;
}

.o-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.o-grid__cell {
    flex-basis: 50% ;
}

.o-grid__cell--centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.o-list--bare {
    list-style: none;
    color: #fff;
}

.o-list--aligned {
    text-align: end;
}

.o-list--inline {
    display: flex;
}

.o-row {
    display: flex;
}

.o-row--justified {
    justify-content: space-between; 
}

.o-row--centered {
    align-items: center;
}

.o-wrapper {
    padding: 0 40px;
}

.o-flag {
    display: flex;
    align-items: center;
}

.video-container {
    height: 100%;
}

.video-layer {
    opacity: .7;
}

.bg-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.c-nav {
    background-color: transparent;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 15px 20px;
}

.c-nav a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.c-nav__links {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    opacity: .9;
    width: 80%;
    text-align: center;
    transition: 0.3s; 
    z-index: 99;
}

.c-nav__links li {
    margin: 16px 0;
}

.c-nav__links.active {
    left: 0;
}

.c-hamburger {
    cursor: pointer;
    display: block;
    z-index: 99;
}

.c-hamburger.active .c-hamburger__bar:nth-child(2) {
    opacity: 0;
}

.c-hamburger.active .c-hamburger__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);    
}

.c-hamburger.active .c-hamburger__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);   
}

.c-hamburger__bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
}

.logo-container {
    max-width: 230px;
}

.logo {
    max-width: 100%;
    height: auto;
}

.header-quote {
    text-align: center;
    position: absolute;
    top: 50%;    
    left: 50%;
    transform: translateX(-50%);
}

img {
    width: 100%;
}

.c-consumption__title {
    font-size: 23px;  
    font-weight: 500;
    margin: 20px 40px;
}

.c-consumption__body {
    width: 60%;
    margin: 0 auto;
}

.c-consumption-card {
    padding: 10px;
}

.c-consumption-card__num {
    font-size: 35px;
    font-weight: 300;
}

.c-consumption-card__num span {
    font-size: 25px;
}

.c-consumption-card__text {
    font-size: 13px;
}

.c-consumption-card--centered {
    text-align: center;
}

.grid-item-moved {
    text-align: center;
}

.c-consumption {
    overflow: hidden; 
}

.c-consumption__img {
    width: auto;
   position: absolute;
   bottom: 0;
}

.c-consumption__img--large {
    display: none;
}

.underline::after {
    content: '';
    width: 25px;
    background-color: #fff;
    height: 1px;
    color: #fff;
    display: block;
    position: relative;
    top: -4px;
    margin-bottom: 7px;
}
/* CENTRIRATI OVAJ PSEUDO DA PRATI BROJ !!! */
.underline--diversed::after { 
    right: 67%;
    left: 33%;
}

.c-coffee-history {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    overflow: hidden;
}

.c-coffee-history__title {
    font-size: 60px;
    font-weight: 800;
    color: #D3C1A6;
    opacity: .6;
    margin-top: 50px;
    text-shadow: 9px 8px 15px black;
}

.c-coffee-history__body { 
    text-align: justify;
    line-height: 1.1;
    opacity: .8;
    margin: 0 40px;
    font-size: 13px; /* STAVIO 13px ISKLJUCIVO VIZUELNO, MOZDA PREMALO ZA MOBILNU VERZIJU */
}

.c-production-shop {
    text-align: center;
    padding: 20px 10px; 
    font-size: 13px;
}

.c-production-shop__title {
    color: #D3C1A6;
    font-size: 40px;
    font-weight: 800;
    opacity: .5;
    text-shadow: 9px 8px 15px black;
}

.c-production-shop__text {
    margin: 20px 0;
    opacity: .8;
}

.c-production-process {
    width: 300px;
    margin: 20px auto;
}

.c-production-process img {
    max-width: 50px;
}

.c-timeline {
    position: relative;
    max-width: 1200px;
}

.c-timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #fff;
    top: 5%;
    bottom: 9%;
    left: 50%;
}

.c-timeline__text {
    text-align: end;
    margin-right: 30px;
    font-size: 12px;
  }
  
  .c-timeline  img {
    width: 100px;
    margin-left: 30px;
  }
  
  .c-timeline__text::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    left: 49%;
    background-color: #181818;
    border: 1px solid #fff;
    border-radius: 50%; 
    z-index: 1;
  }

.c-shop {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.c-shop-card { 
    transition: transform .2s;
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
}

.c-shop-card__img {
    background-color: #fff;
    width: 100%;
    /* OGRANICITI SIRINU SLIKE NA ODREDJENE PX */
}

.c-shop-card__img img {
}

.c-shop-card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.c-shop-card__body {
    color: #D3C1A6;
    padding-top: 10px;
    text-align: left;
}

.c-shop-card__body h4 {
    text-transform: uppercase;
}

.c-shop-card__body--left p {
    display: none;
}

.c-coffee-price {
    font-size: 23px;
    font-weight: 500;
    transform: translateY(-15%);
}

.c-coffee-price span {
    font-size: 14px;
    vertical-align: text-top;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex div {
    flex: 1;
}

.c-footer {
    height: 100vh;
}

.o-flag {
    display: block;
}

.slika-kafe {
    max-width: 280px;
}

.c-newsletter {
    width: 85%;
    margin: 20px auto;
    font-size: 14px;
}

.c-footer--top h5 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.c-footer--bottom {
    padding: 20px;  
    margin-top: 90px;
    font-size: 10px;
}

.c-footer--bottom > div {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.o-form {
    text-align: end;
}

.o-form input {
    width: 100%;
    padding: 9px;
    margin-top: 15px;
    background-color: #181818;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;   
}

.o-form button {
    width: 40%;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    padding: 9px;
    margin-top: 15px;
}

.underline::after {
    content: '';
    width: 20px;
    background-color: #fff;
    height: 1px;
    color: #fff;
    display: block;
    position: relative;
    top: -4px;
    margin-bottom: 7px;
}

.underline--diversed::after {
    left: 24px;
}

}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    
}

/*


@media screen and (min-width: 800px) {
    
    body {
        margin: 0 auto;
        font-size: 18px;
    }

    .c-hamburger {
        display: none;
    }

    .c-nav__links {
        display: block;
        position: static;
        background: none;
        display: flex;
        flex-direction: row;
        font-size: 12px;
    }

    .c-nav__links li {
        margin: 0 20px;
    }

    .header-quote {
        top: 90%;
    }

    .o-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .c-consumption__title {
        font-size: 30px;
        margin: 70px 50px;
    }

    .c-consumption__body {
        width: 100%;
        font-size: 10px;
        margin-top: 150px;
        padding: 0 50px;
    }

    .c-card {
        padding: 15px;
    }
    
    .c-card__num {
        font-size: 50px;
    }
    
    .c-card__num span {
        font-size: 25px;
    }

    .c-consumption__img--small {
        display: none;
    }

    .c-consumption__img--large {
        display: block;
    }

    .o-flag {
        display: flex;
    }

    .o-flag--reverse {
        flex-direction: row-reverse;
    }

    .o-flag__img {
        flex: 1 1 auto;
        height: 100%;
        min-width: 400px;
        width: 100%;
    }

    .c-coffee-history {
        position: static;
    }

    .video-container {
        margin: 0 80px;
    }

}